.inputList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.input {
    margin: 10px;
    cursor: pointer;
    padding: 5px;
    user-select: none;
    transition: all .07s ease;
}

.input.active {
    background-color: #fc7b80;
}

label{
    cursor: pointer;
}

label.active:after {
    content: '';
    position: absolute;
    top: 2px;
    transform: translateX(3px);
    width: 5px;
    height: 5px;
    border-radius: 50%;
    box-shadow: 0 5px 0#fc7b80;
}

.urlInput {
    display: flex;
    padding: 15px;
    justify-content: center;
}

.urlInput input,
.urlInput button {
    margin-right: 5px;
}

.category,
.company {
    position: relative;
    outline: none;
    user-select: none;
    height: fit-content;
}

.open>.options {
    opacity: 1;
    height: fit-content;
}

.options {
    top: 20px;
    opacity: 0;
    height: 0; 
    overflow: hidden;
    transition: all .25s ease-out;
}