.inputList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.input {
    margin: 10px;
    cursor: pointer;
    padding: 5px;
    user-select: none;
}

.input.active{
    background-color: lightgreen;
}

.urlInput{
    display: flex;
    padding: 15px;
}

.urlInput input, .urlInput button{
    margin-right: 5px;
}
