.currentDevices {
    position: absolute;
    left: 5px;
    bottom: 50px;
    width: fit-content;
}
.currentDevices .active .closeBtn{
    position: relative;
    cursor: pointer;
    top: -1px;
    right: -2px;
    color: white;
    padding: 4px;
    margin-left: 10px;
    line-height: 10px;
    transition: color .07s ease;
}

.currentDevices .closeBtn:hover{
    color: #e6e6e6;
}
.currentDevices .closeBtn:active{
    color: #bbbbbb;
}

.currentDevices .input{
    margin: 10px;
    cursor: default;
    display: flex;
    box-shadow: none;
    min-width: fit-content;
}

.currentDevices .message{
    padding: 5px;
    margin: 5px;
    color: #a5a5a5;
}