.viewContainer {
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
}

.viewContainer .device {
    margin: 30px;
    border-radius: 10px;
    border: 10px solid;
    background-image: url("../images/zigzag.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-color: #2b2b2b;
}

.device img{
    border-radius: 6px;
}