.urlInput {
    background-color: white;
    box-shadow: 0px -6px 10px black;
    display: flex;
    padding: 15px;
    justify-content: center;
}

.urlInput input,
.urlInput button {
    margin-right: 5px;
}

.urlInput button{
    opacity: 1;
    transition: opacity .27s ease;
    cursor: pointer;
}

.urlInput button.invalid {
    opacity: .5;
    pointer-events: none;
    user-select: none;
    cursor: default;
}